/* You can add global styles to this file, and also import other style files */

html, body {
 height: 100% !important;
}

body {
 margin: 0;
 font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

div.sub-navbar {
 min-height: 48px;
}

.toast-success > * {
 background-color: var(--bs-success) !important;
 color: var(--bs-light) !important;
}

.toast-error > * {
 background-color: var(--bs-danger) !important;
 color: var(--bs-light) !important;
}

.toast-warning > * {
 background-color: var(--bs-warning) !important;
 color: var(--bs-light) !important;
}

.toast-info > * {
 background-color: var(--bs-info) !important;
 color: var(--bs-light) !important;
}

.toast-default > * {
 background-color: var(--bs-dark) !important;
 color: var(--bs-light) !important;
}
