<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xl-7 col-xxl-5">
      <div class="row search-bar mb-3">
        <div class="col-sm-6">
          <mat-form-field class="w-100">
            <mat-label>Job Title, Keywords</mat-label>
            <input matInput type="text" placeholder="e.g. software engineer, forklift"
                   [formControl]="jobTitleFormCtrl" />
            <mat-error class="small"
                       *ngIf="jobTitleFormCtrl.invalid && jobTitleFormCtrl.touched && jobTitleFormCtrl.hasError('required')">
              Job
              Title is required
            </mat-error>
            <mat-error class="small"
                       *ngIf="jobTitleFormCtrl.invalid && jobTitleFormCtrl.touched && jobTitleFormCtrl.hasError('pattern')">
              Invalid characters in Job Title
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="w-100">
            <mat-label>Location</mat-label>
            <input matInput type="text" placeholder="e.g. new york, canada" [formControl]="locationFormCtrl">
            <mat-error class="small"
                       *ngIf="locationFormCtrl.invalid && locationFormCtrl.touched && locationFormCtrl.hasError('required')">
              Location
              is required
            </mat-error>
            <mat-error class="small"
                       *ngIf="locationFormCtrl.invalid && locationFormCtrl.touched && locationFormCtrl.hasError('pattern')">
              Invalid characters in Location
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 text-sm-center">
          <button mat-raised-button color="primary" class="search-button" (click)="searchJobsBtnHandler()">Search Jobs</button>
        </div>
      </div>
      <p class="text-sm-center post-job-link">Are you an employer? <a routerLink="/employer/features/post-job"
                                                                      class="text-primary">Post a
        Job</a></p>
    </div>
  </div>
</div>
