<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-11 col-lg-8 col-xxl-5">
      <mat-card class="mb-2 p-2">
        <mat-card-content>
          <p>You have subscribed successfully</p>
          <mat-divider class="pb-2"></mat-divider>
        </mat-card-content>
        <mat-card-actions class="justify-content-between mx-2">
          <button mat-raised-button color="primary" routerLink="/">Home</button>
          <button mat-raised-button color="accent" routerLink="/jobs">Advanced Job Search</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
